<div class="edit-pin-form pin-route">
  <div class="row">

    <form ng-submit="void()">
      <label>
        <span class="info">Você pode <strong>arrastar o ponto no mapa</strong> para qualquer lugar.</span>
        <input ng-model="demand.pin_fullname" ng-click="setupAutoComplete('searchField1')" type="text" name="search" class="searchField1" id="searchTextField" placeholder="Pesquise aqui o nome da rua, avenida, local etc" />
      </label>


    </form>
  </div>

</div>

<div class="map-data">
  <div id="user-map"></div>
</div>

<div class="form-options">
  <div class="row">
    <div class="medium-6 small-6 columns text-left">
      <a href="#/"  class="reset" ng-click="reset()">Cancelar</a>
    </div>
    <div class="medium-6 small-6 end columns text-right">
      <button class="button save" ng-click="nextStep()" ng-disabled="!(demand.latitude && demand.longitude)">Salvar indicação</button>
    </div>
  </div>
</div>



