<div class="row new-demand">
    <div class="medium-7 text-center padding-1 demand-info medium-centered view-content columns">
      <h3> Como funciona? </h3>
        <p ng-hide="allowRoute(demand.category_id)">Na próxima tela, <strong>digite o endereço de referência</strong> para fazer a indicação, clique e arraste o marcador com cursor até o local exato e clique em <strong>Salvar indicação</strong>.<br/>

        </p>
        <p ng-hide="!allowRoute(demand.category_id)">Na próxima tela, <strong>digite o endereço de referência</strong> para fazer a indicação, clique e arraste o marcador com cursor até o local exato de <strong>partida da rota</strong>. <br/>
  
        <% image_tag 'http://i.imgur.com/rrrinyp.gif' %>

        </p>
        </br>
        <iframe  src="https://www.youtube.com/embed/M0OAP1fgSDk?rel=0&showinfo=0&autoplay=1&loop=1&playlist=M0OAP1fgSDk&autohide=1&controls=0" width="480" height="254" frameborder="0" allowfullscreen ng-hide="!allowRoute(demand.category_id)"></iframe>
        <!--<img src="http://i.imgur.com/3CHApsX.gif"/>-->
        <p ng-hide="!allowRoute(demand.category_id)"><br/>Quando tiver terminado de traçar a rota, clique em <strong>Salvar indicação</strong>.</p>


        <a href ng-click="nextStep()" class="button">Continuar</a>
    </div>
</div>
