<div class="row new-demand">
    <div class="medium-7 text-center padding-1 demand-info medium-centered view-content columns">
      <h3> Como funciona? </h3>
        <p>Na próxima tela, <strong>digite o endereço de referência</strong> para fazer a indicação, clique e arraste o marcador com cursor até o local exato e clique em <strong>Salvar indicação</strong>.<br/>
        <a href ng-click="nextStep()" class="button">Continuar</a>
        </p>
    </div>
</div>
