<div class="row new-demand">
    <div class="medium-6 text-center medium-centered view-content columns">
      <h3> Como funciona? <?h3>
        <p>Você pode pesquisar o endereço no campo de busca ou simplesmente marcar no mapa o ponto que você deseja clicando em “Marcar no mapa”.<br/>
        <a href ng-click="nextStep()" class="button">Continuar</a>
        </p>
    </div>
</div>
