<div class="row new-demand">
    <div class="medium-6 text-center padding-1 demand-info medium-centered view-content columns">
      <h3> Como funciona? <?h3>
        <p><br/>Você pode <strong>pesquisar o endereço no campo de busca</strong> a seguir, selecionar da lista e arrastar o "pin" para o ponto que você deseja marcar no mapa.<br/>
        <a href ng-click="nextStep()" class="button">Continuar</a>
        </p>
    </div>
</div>
