<div class="index">
  <div id="map"></div>
</div>

<div class="footer">
  <div class="row">

    <div class="medium-4 columns">
      <strong>650</strong>
      demandas
    </div>

    <div class="medium-4 columns">
      <strong>560</strong>
      usuários
    </div>

    <div class="medium-4 end columns">
      <strong>560</strong>
      usuários
    </div>



  </div>
</div>
