<div id="welcome-screen" ng-click="$root.showWelcomeScreen = true" ng-show="!$root.showWelcomeScreen">
  <div class="row text-center">


    <div class="medium-5 medium-centered welcome-text columns">
      <p><%= image_tag "logo-icon.png", size: '96x96' %></p>
      <h3>Olá, este é o Mapeando, a plataforma colaborativa para indicar soluções para a cidade do Rio de Janeiro!</h3>
      <br/>
      <h5>Ajude a Prefeitura do Rio a melhorar suas políticas públicas indicando no mapa suas demandas para a cidade.</h5>


      <p><a href="#/" ng-click="$root.showWelcomeScreen = true" class="button">Continuar</a></p>
    </div>
  </div>
</div>







<div class="index" ng-init="$root.showNavBackLink = false">
  <div id="map"></div>


  <div id="filters" class="hide-for-small-only">
    <h3 class="text-center"> Ver demandas indicadas </h3>
    <div class="filter" ng-repeat="(key, value) in categories.categories | groupBy: 'travel_mode' | orderBy: '!travel_mode'">
      <h5>{{ categoryName[key] }}</h5>
      <ol>
        <li ng-click="loadMarkers(category.id)" ng-class="{ 'active': activeCategory == category.id }" ng-repeat="category in value">
          <img ng-src="{{ category.icon_url }}" width="20" />
          {{ category.name }} 
        </li>
      </ol>
    </div>
    <div class="show-all text-center" ng-clock><a ng-click="loadMarkers('')">Ver todas</a></div>
  </div>
</div>


<div id="logos">
  <a href="http://labrio.cc" target="_blank"><%= image_tag('labrio.png', size: '50x50')  %></a> &nbsp;
  <a href="http://prefeitura.rio" target="_blank"><%= image_tag('prefeitura.png', size: '60x60')  %></a>
</div>


