<div class="index">
  <div id="map"></div>


  <div id="filters">
    <h3 class="text-center"> Filtre as demandas </h3>
    <div class="filter" ng-repeat="(key, value) in categories.categories | groupBy: 'travel_mode' | orderBy: '!travel_mode'">
      <h5>{{ categoryName[key] }}</h5>
      <ol>
        <li ng-repeat="category in value">
          <img ng-src="{{ category.icon_url }}" width="20" />
          {{ category.name }} 
        </li>
      </ol>
    </div>

  </div>
</div>


