<div class="index">
  <div id="map"></div>
</div>

<div class="footer">
  <div class="row">

    <div class="medium-3 columns">
      <%= image_tag('http://i.imgur.com/lweavVT.png', size: '18x18') %>
      <span>Deslocamento a pé</span>
    </div>


    <div class="medium-3 columns">
      <%= image_tag('http://i.imgur.com/97gg492.png', size: '18x18') %>
      <span>Bicicleta </span>
    </div>

    <div class="medium-3 columns">
      <%= image_tag('http://i.imgur.com/V4OnsU2.png', size: '18x18') %>
      <span>Transporte Coletivo</span>
    </div>


    <div class="medium-3 end columns">
      <%= image_tag('http://i.imgur.com/t7fq9ZS.png', size: '18x18') %>
      <span>Transporte Motorizado</span>
    </div>



  </div>
</div>
