<div class="row new-demand">
  <div class="medium-7 medium-centered view-content columns">
    <form name="form" novalidate class="new-demand-form" ng-submit="nextStep()">
      <br/>



      <div class="categories">
        <h4>Escolha o tipo de indicação:</h4>
        <br/>

        <label>
          <select name="demand[category_id]" ng-required="true" ng-model="demand.category_id">

          <optgroup label="Escolha uma opção da lista">
            <option ng-repeat="category in categories.categories" value="{{ category.id }}">{{ category.name }}</option>
          <optgroup>
          </select>
        </label>
      </div>

      <div>
        <h4>Comentários adicionais:</h4>
        <span class="info">Obs.: Este campo é opcional</span>

        <label>
          <textarea ng-model="demand.fullname" ng-maxlength="300" name="demand[fullname]"></textarea>
          <span ng-show="demand.fullname"> {{ demand.fullname.length }} caracteres de 300 </span>
        </label>


      </div>





      <div class="pins">
        <div class="actions-submit text-right">
          <button type="submit" class="button" ng-disabled="!form.$valid">
            Próximo passo 
          </button>
        </div>

      </div>

    </form>
  </div>

</div>


