<div class="row show-demand">
  
  <div class="medium-10 view-content columns medium-centered">
    <br/>

    <div class="row">
      <div class="medium-2 columns small-2"><%= image_tag('avatar.png')%></div>
      <div class="medium-10 columns small-10 end">
        <h4> {{ demand.demand.user }} quer</h4> 
        <p> {{ demand.demand.category }} </p>
      </div>
    </div>



    <img src="{{ demand.demand.pins.first.icon }}">



    <div class="mini-map">
    
    </div>

    <br/>
    <div class="fb-comments" data-width="100%" data-numposts="5" data-url="http://localhost" data-colorscheme="light"></div>
  </div>





</div>


