<div class="row signup-block">
  <div class="medium-6 text-center medium-centered columns view-content">
    <a href="#/signup" class="signup-link button">Não se inscreveu ainda? Clique aqui </a>
  </div>
</div>

<div class="row login-box">
  <div class="medium-6 medium-centered columns view-content">
    <div class="text-center logo-icon">
      <%= image_tag('logo-icon.png', size: '50x50') %>
      <h4>Login</h4>
    </div>

    <h5>&nbsp;</h5>
    <form ng-submit="authenticateUser()" class="login-form" novalidate name="loginForm">
      <span class="error" ng-show="loginError">{{ loginErrorMessage }}</span>


      <div>
        <label>
          Email
          <input type="text" ng-model="user.email" name="user[email]" ng-minlength="4" placeholder="Digite seu email" required/>
        </label>
        <span class="error" ng-show="loginForm['user[email]'].$error.minlength">Opa, é um email válido?</span>
      </div>

      <div>
        <label>
         Senha 
          <input type="password" ng-model="user.password" ng-minlength="6" name="user[password]" placeholder="Digite sua senha" required/>
        </label>
          <span class="error" ng-show="loginForm['user[password]'].$error.minlength">A senha precisa ter 06 ou mais caracteres :)</span>
      </div>


      <div class="text-right">
        <button type="submit" class="button" ng-disabled="!loginForm.$valid">Login</button>
      </div>
    </form>
  </div>


</div>

