<div class="row">
  <div class="medium-7 medium-centered columns view-content">
    
    <h3>&nbsp;</h3>
    <form ng-submit="">
      
      <div class="row">
        <div class="medium-4 columns">
          <img src="http://placehold.it/140x120"/>
        </div>
        <div class="medium-8 columns end">
          <label>
            Nome 
            <input type="text" ng-model="email" name="email"/>
          </label>

          
          <label>
            Sobrenome 
            <input type="text" ng-model="email" name="email"/>
          </label>         
        </div>

      </div>



      <div>
        <label>
          Email
          <input type="text" ng-model="email" name="email"/>
        </label>
      </div>

      <div>
        <label>
         Senha 
          <input type="password" ng-model="password" name="password"/>
        </label>
        <label>
         Confirme a senha 
          <input type="password" ng-model="password" name="password"/>
        </label>
      </div>


      <div class="text-right">
        <button type="submit" class="button" ng-disabled="!form.$valid">Cadastrar meu usuário</button>
      </div>
    </form>
  </div>

</div>

