/= content_for(:title, "MapLab")


/#user-not-logged.mfp-hide
  /|Você precisa estar logado para criar uma demanda. Clique aqui." 

/#new-demand-box.mfp-hide
  /|Onde é sua demanda?


/#map



/#content
  /.row
    /input[type='text' name='search' placeholder='Buscar Rua, Endereço Etc']

