# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: df0a987aedd053994dbb7d70084bed8eeccbecfdb811e85c3117db3f75bd467d72aeae41835bbb05c27764b931188993396443f4b6be967929a2763ecab64978

test:
  secret_key_base: 6735d156b04ae258988ef94331cb690fb3e112c84bd80c99c36eb432267febf00546f9f42941d24d84e594b3117fbdd0e94afd4e850a816d4862b756d6d746f9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
