.row
  .medium-12.columns
    h1 Onde você quer que passe? 


    = form_for @route do |t|

      = t.text_field :fullname, id: :searchTextField, value: 'Rua '
      = t.hidden_field :lat,  id: :searchLatField
      = t.hidden_field :long, id: :searchLongField

      label
        = t.radio_button :transport, :bike
        |Ciclovia

      label
        = t.radio_button :transport, :bus
        |Quero que o onibus passe aqui





      = t.button "Incluir esta rua", type: :submit


    javascript:

      var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-22.911589, -43.797264),
        new google.maps.LatLng(-22.911589, -43.149070));

      var input = document.getElementById('searchTextField');

      var options = {
        bounds: defaultBounds,
      };


      var autocomplete = new google.maps.places.Autocomplete(input, options);

      google.maps.event.addListener(autocomplete, 'place_changed', function(){

        var latField = document.getElementById('searchLatField');
        var longField = document.getElementById('searchLongField');

        var place = autocomplete.getPlace();

        latField.value = place.geometry.location.k;
        longField.value = place.geometry.location.D;
      });
