<div class="row" style="margin-top: 1em">

  <div class="medium-11 medium-centered columns about view-content">
    <h2 class="text-center">Saiba mais sobre o Mapeando</h2>


    <p>
    O Mapeando é uma plataforma colaborativa da Prefeitura do Rio criada para que as cidadãs e os cidadãos cariocas possam apontar diretamente no mapa as suas demandas por serviços públicos municipais. O site foi desenvolvido pelo <a href="http://labrio.cc" target="_blank">LAB.Rio, o Laboratório de Participação da Prefeitura.</a>
<br/><br/>
O LAB.Rio foi criado para aproximar a Prefeitura dos cariocas. Todos produtos e serviços desenvolvidos pelo laboratório estão em contínuo aprimoramento, baseando-se principalmente nos constantes feedbacks dos usuários. Por isso, o Mapeando é seu e está em construção. Ajude-nos a melhorá-lo!

    </p>




    <h4><span>1</span>Para que serve o Mapeando?</h4>

    <p>
      O Mapeando tem como objetivo a qualificação de políticas públicas da Prefeitura a partir da identificação de demandas existentes por determinado serviço público na cidade do Rio.
    </p>


    <h4><span>2</span>O que eu posso fazer no Mapeando?</h4>

    <p>
    As cidadãs e cidadãos poderão indicar na cidade onde gostariam que houvesse um dos serviços públicos disponíveis no Mapeando. Além disso, é possível também visualizar e comentar nas demandas das outras pessoas.
    </p>


    <h4><span>3</span>Quem pode usar o Mapeando?</h4>

    <p>
    Qualquer pessoa que tenha contribuições a serem feitas sobre a cidade poderá participar do Mapeando, basta ter um email válido para confirmar o cadastro na plataforma!
    </p>

    <h4><span>4</span>O que será feito com as minhas demandas?</h4>

    <p>
    A ideia central do Mapeando não é que a Prefeitura atenda individualmente cada indicação de demanda como uma solicitação de serviço, mas sim que a gestão municipal analise o conjunto de demandas e possa considerá-lo na execução de suas políticas públicas. Para isso, a equipe do Mapeando irá enviar periodicamente relatórios sobre as demandas mais populares para os respectivos órgãos da Prefeitura.
    </p>



    <h4><span>5</span>O que será feito com meus dados?</h4>

    <p>
    As senhas das usuárias e usuários são criptografadas de maneira que nem mesmo a equipe do Mapeando poderá visualizá-las, já seus emails serão usados apenas para comunicações sobre o Mapeando.
    </p>


    <h4><span>6</span>Até quando eu posso apontar demandas?</h4>

    <p>
      Não existe prazo para indicação de demandas! A ideia é que a plataforma continue sendo constantemente usada pela Prefeitura à serviço da população.
    </p>






  </div>

  <div class="medium-11 text-right columns" style="padding-right: 3em">
    <br/>
    <a href="http://labrio.cc" target="_blank"><%= image_tag('labrio.png',size: '60x60')  %></a> &nbsp;
    <a href="http://prefeitura.rio" target="_blank"><%= image_tag('prefeitura.png', size: '60x60')  %></a>
  </div>


</div>
