body, html
  -webkit-font-smoothing: antialiased


.padding-1
  padding: 1em


.button
  background: #FD1A51 !important 
  color: white !important
  margin-top: 1em !important
  border-radius: 4px !important
  box-shadow: 0 1px 1px #333 !important
  &:hover
    background: #B80100 !important
  &:active
    position: relative
    top: 2px
  &:disabled
    background: #ddd !important 
    color: #333 !important
    -webkit-filter: grayscale(1) !important
    opacity: .3 !important
    cursor: not-allowed !important
    box-shadow: none
    &:hover
      background:  #ddd 
      color: inherit






#labrio-header
  background: #333 
  padding: 0 .8em 0 .8em
  color: white
  .row:first-child
    width: 100%
    max-width: 100%


#header .row:first-child
  width: 100%
  max-width: 100%


.logo a
  display: block
  position: relative
  top: .6em


#header
  box-shadow: 0 1px 1px #666
  z-index: 9990
  position: relative


.menu 
  text-align: left 

.nav-link
  display: inline-block
  position: relative
  color: #666
  padding: .8em 1em
  top: 0
  transition: all .2s cubic-bezier(0.25,0.1,0.25,1)
.nav-link img
  float: left


.menu span
  display: inline-block
  line-height: 1em
  position: relative
  left: .4em
  top: .2em

.menu span i
  display: block
  font-size: .7em
  text-align: left
  letter-spacing: 1px
  text-transform: uppercase
  font-weight: bold !important
  font-style: normal




.nav-link:hover
  color: white
  background: #FF0032 
  img
    -webkit-filter: invert(1)

.index #map, .index 
  width: 100% 
  height: 100% !important
  min-height: 400px



.view-content
  background: white
  margin-top: 2em
  box-shadow: 0 1px 1px #333

.view-container, .view-animate
  height: 100%
  background: #eee 
  background-size: cover

.view-container
  background: white
  position: relative
  z-index: 98

.view-animate.ng-enter, .view-animate.ng-leave 
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s
  -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s
  display: block
  width: 100%
  position: absolute
  -webkit-transform: scale(0)

.view-animate.ng-enter
  transition: all .2s
  -webkit-transform: scale(0)
  -ms-transform: scale(0)
  -moz-transform: scale(0)
  transform: scale(0)

.view-animate.ng-enter.ng-enter-active
  -webkit-transform: scale(1)
  -ms-transform: scale(1)
  -moz-transform: scale(1)
  transform: scale(1)

.view-animate.ng-leave.ng-leave-active
  left: -100%



// Demands.new



.categories ol
  margin: 0
  padding: 0

.categories ol li
  list-style-type: none
  display: inline-block
  margin: .4em .4em .4em 0
  background: #dfdfdf 
  transition: all .3s
  label
    padding: .7em .8em
  &:hover
    background: #ffd503 
    label
      color: #333

.categories li input 
  display: inline-block
  margin: .1em .4em


.new-demand
  padding: .8em 0

.new-demand-form
  padding: 1em
  h4 
    font-weight: 500
    padding: 0
    margin: 1em 0 0 0
    line-height: 1em
  .info
    color: #999
    font-size: .9em 
    display: inline-block
    margin-bottom: 1.4em
  .error
    font-size: small

.demand-info
  h3
    font-weight: 500
    margin-top: .4em
  p
    color: #444
    width: 80%
    margin: 0 auto

// Edit Pins / Add new Marker
.edit-pin-form
  width: 100%
  margin: 0 auto 
  position: absolute 
  top: 7%
  z-index: 9999

.edit-pin-form label
  background: white
  padding: .6em .8em
  text-indent: .5em
  font-size: 1.1em
  box-shadow: 0 1px 1px #666

.edit-pin-form .info
  color: #009517
  font-size: .8em
  opacity: .7

#searchTextField 
  top: 6px
  display: inline-block
  width: 100% 
  position: relative
  border: none 
  box-shadow: none
  border-bottom: 1px solid #aaa
  font-size: 1.2em
  color: #333
  padding: 1.2em .4em !important
  height: 40px


.leaflet-control-zoom
  position: relative
  top: 4em

.map-data 
  height: 100%

.map-data #map
  height: 90% !important


.map-data .form-options
  position: fixed
  height: 14%
  width: 100%
  background: white
  bottom: 0


.form-options .save
  margin-top: .4em

.form-options .reset
  display: inline-block
  position: relative
  top: 1.2em
  border-bottom: 1px solid #666
  color: #666


.footer
  position: fixed
  height: 40px
  background: white
  width: 100%
  bottom: 0
