#header 
  position: absolute
  z-index: 999

#map-canvas 
  width: 100% 
  height: 100%
#routes
  background: #333
  width: 100px 
  position: fixed 
  height: 100%
  top: 0
  right: 0

  .button
    padding: 1.4em
    background: none 
    display: block
    text-align: center
    margin: .4em auto
    font-size: .9em
    font-family: 'Lato'
    color: #ddd
    text-shadow: 0 1px 1px #000
    &:hover
      background: rgba(88,88,88,0.8)
      img
        -webkit-transform: scale(.9)
        -webkit-filter: grayscale(0)
    img
      margin-bottom: .4em
      transition: all .2s
      display: block
      -webkit-filter: grayscale(1)
      -webkit-transform: scale(.8)


#form
  background: white
  padding: 1em
  max-width: 600px
  position: relative
  h2
    margin-bottom: 1em

  label.radio
    display: inline-block
    max-height: 80px
    height: 100%
    width: 25%
    text-align: center
    overflow: hidden
    margin-left: 15%
    padding: .8em
    input
      margin-right: .4em
  form
    button
      display: block
      width: 100%




.pac-container
  max-width: 700px !important
  z-index: 9999 !important

.ui-autocomplete
  z-index: 9999
