<div style="font-family: Arial; font-size: 14px; line-height: 1.2em; ">
<p>
Olá!
<br/><br/>
Bem vindo ao <strong>Mapeando</strong>! Falta pouco para você começar a sair mapeando suas demandas para a cidade!
<br/>
Você pode confirmar seu email pelo link a seguir (é só clicar): <%= link_to 'Confirmar minha conta', root_url(anchor: "/user/confirmation/#{@token}")%>.

<br/><br/><br/>
Se você tiver alguma dúvida, pode mandar um email para <a href="mailto:contato@labrio.cc">contato@labrio.cc</a> que responderemos o mais rápido possível.
<br/><br/>

Um abraço,
<br/>

Equipe do Mapeando.
</div>
